<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Пользователи</title>
    <script defer src="{{ url_for('static', filename='script.js') }}"></script>
    <script src="https://cdn.jsdelivr.net/npm/toastify-js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/toastify-js/src/toastify.min.css">

</head>

<body>
    <h1>Список пользователей</h1>

    <input type="text" id="nameInput" placeholder="Введите имя">
    <button onclick="addUser()">Добавить пользователя</button>

    <button onclick="getUsers()">Показать пользователей</button>

    <ul id="userList"></ul>

</body>

</html>